<!DOCTYPE html>
<html lang="ru"><head><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="version" content="1.0.0-alpha87" />
    <base href="/">
    <meta name="description" content="Прямое обращение Высшего Космического Разума (Господа Бога, Отца Абсолюта) к человечеству. Книга, записанная Масловым Леонидом Ивановичем." />
    <meta name="author" content="Маслов Леонид Иванович">
    
    <link rel="shortcut icon" href="/_content/MSU.View.Otk/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu">
    

    
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/shared.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/calendar.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/cld-otk.css" />

    <title>Создатель начал Ваш переход в Боги! | Откровения людям Нового века</title></head>


<body hx-boost="true" hx-target="#main-cont" hx-headers="{ &quot;Accept&quot;: &quot;text/html&quot; }" hx-indicator="#spinner" hx-push-url="true" onmouseout="moveCounter=0"><div id="page" class="page" onmousemove="typeof moveCounter !== &#x27;undefined&#x27; ? moveCounter&#x2B;&#x2B; : 0"><section id="top"><header><div class="row container-fluid"><div class="sm-container-header"><div class="row header"><div class="otk-sitename">ОТКРОВЕНИЯ</div>
                            <div class="site-sub-name">ЛЮДЯМ НОВОГО ВЕКА</div>
                            <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4"><div class="col-md-6 col-sm-6 hidden-xs sm-unread-zindex"><div id="unreadBlock"></div></div>
                                
                                <div class="col-md-6 col-sm-6 hidden-xs pull-right baner-quote"><div id="quote-block" hx-get="/ext/quote" hx-trigger="load[isQuoteRequestVal], msu-ext-quote" hx-target="this" hx-indicator="#spinner" hx-push-url="false"></div></div></div> 
                            <div class="book">Эта Книга продиктована Высшим Космическим Разумом избранному Им Человеку в России</div></div></div> 

                    <div class="row"><div id="menublock"><nav role="navigation" class="navbar navbar-inverse navbar-static-top top-menu"><div class="navbar-header small-menu"><div class="hidden-lg hidden-md hidden-sm col-xs-12"><div id="unreadBlockMobile"></div>
                                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"><span class="sr-only">Разделы сайта</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span></button></div></div>
                                
                                <div><div id="bs-navbar" class="collapse navbar-collapse" style><ul class="nav nav-pills nav-justified top-menu-ul"><li aria-selected="false" class=""><a href="/">ГЛАВНАЯ</a></li><li aria-selected="false" class=""><a href="predislovie.html">ПРЕДИСЛОВИЕ ВСЕВЫШНЕГО</a></li><li aria-selected="false" class=""><a href="otkroveniya.html">ОТКРОВЕНИЯ</a></li><li aria-selected="false" class=""><a href="tolkovaniya.html">ТОЛКОВАНИЯ</a></li><li aria-selected="false" class=""><a href="year.html">НОВЫЕ ТЕКСТЫ</a></li><li aria-selected="false" class=""><a href="poems/year.html">КАТРЕНЫ</a></li><li aria-selected="false" class=""><a href="intforum.html">НОВОСТИ</a></li><li aria-selected="false" class=""><a href="novosti.html">ОБЪЯВЛЕНИЯ</a></li></ul></div></div></nav></div></div></div></header></section>
        
        <section id="general" class="page_section"><div class="container-fluid"><div class="row"><div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 large-monitor-left"><div class="razdel"><h2><span id="spinner-search" class="my-indicator"></span>Поиск по Сайту</h2>
        <form method="post" action="/search" hx-headers="js:{ &quot;XSRF-TOKEN&quot;: getToken(&quot;XSRF-TOKEN&quot;) }" asp-antiforgery="false" name="Search"><div class="txt-blue" id="search"><div class="search-group"><div class="input-search-group"><input name="SearchString" class="srch" type="search"></div>
                    <div class="list-search-group"><button id="s2" type="submit" class="btn-search">&gt;&gt;</button></div></div>
                <div class="clear"></div>
                <div><div class="where-search-block"><select name="Where" class="style-select where-search"><option value="Mess">в Посланиях</option>
                            <option value="Poems">в Катренах</option>
                            <option value="Titles">в заголовках</option>
                            <option value="Site">по всему Сайту</option>
                            <option value="Date">по дате</option>
                            <option value="Quote">в цитатах</option></select></div>
                    <div class="find txt-blue">искать</div></div></div></form>
        <div class="clear"></div></div>

    
    <div class="razdel"><h2>Послания за <span id="cldTitle">июль 2024</span> года</h2><div class="kalendar"><div id="caleandar"></div>
            <div class="select-poslan"><span id="goto" class="txt-blue goto">перейти к</span><select id="cldMonth" onchange="onChangeMonth(this.value)" class="style-select select-month"><option selected value="-1">месяцу...</option><option value="1">Январь</option><option value="2">Февраль</option><option value="3">Март</option><option value="4">Апрель</option><option value="5">Май</option><option value="6">Июнь</option><option value="7">Июль</option><option value="8">Август</option><option value="9">Сентябрь</option><option value="10">Октябрь</option><option value="11">Ноябрь</option><option value="12">Декабрь</option></select>
                <select id="cldYear" onchange="onChangeYear(this.value)" class="style-select select-year"><option selected value="-1">года...</option></select></div></div>
        <div id="api-ext-cld" hx-get="/ext/cld/2024-7.json" hx-trigger="load[isCldRequestOnLoad()], msu-ext-cld" hx-headers="js:{&#x27;msu-PreMonth&#x27;: getPreCldPath()}" hx-ext="json-response" hx-indicator="#spinner" hx-swap="none" hx-push-url="false"></div>
        <div class="clear"></div></div><div class="razdel"><h2>Кто на Сайте</h2>
            <div class="txt-blue lh-block">
                В данный момент на Сайте <span id="online-block" hx-get="/ext/online" hx-trigger="load[isOnlineRequestVal], msu-ext-online" hx-target="this" hx-indicator="#spinner" hx-push-url="false"></span></div></div>
        <div class="clear"></div><div id="timeleft-block" class="razdel hidden"><details open><summary><h2 class="cursorPointer">Обратный отсчёт</h2></summary>
                <div class="collapse in txt-blue lh-block" id="collapseCountdown" role="tabpanel">
                    До момента Посыла на ЛЮБОВЬ и ДУХОВНОЕ ЕДИНЕНИЕ Народа Святой Руси осталось&nbsp; <span id="timeleft" hx-get="/ext/countdown" hx-trigger="load[isCountdownRequestVal], msu-ext-timeleft" hx-ext="json-response" hx-swap="none" hx-indicator="#spinner" hx-push-url="false" style="font-size:20px"></span></div></details></div><div style="display: flex; justify-content: center;"><div id="spinner" class="my-indicator"></div></div>

    
    <div class="razdel"></div>

    <script></script></div>

                    
                    <main><div id="main-cont" hx-get="/" hx-trigger="msu-on-get-dns" class="col-lg-9 col-md-9 col-sm-8 col-xs-12 page-main large-monitor-center"><h1 class="page-title"><span class='date'>06.07.2024</span> Катрен №188 (2971) “Создатель начал Ваш переход в Боги!”</h1><div class="razdel poem-blok"><p class="poem">Страсти, теперь, бушуют не только на Планете, но и на Небе!<br />Война Славян превратилась, по масштабам, уже в Мировую!<br />Приближается ещё и Шестая Эпоха, превращается Небыль в Быль!<br />Люди не понимают, что все они пройдут границу Эпох такую!</p>
<p class="poem">Это касается всех людей сразу, вне зависимости от страны,<br />Просто, теперь, Создатель ставит перед всеми людьми одну задачу:<br />Перед Переходом надо излечить все внутри человечества раны,<br />Для Создателя никто из людей не лишний, нужна Идеи передача!</p>
<p class="poem">Сегодня, Мир на войне разделён искусственными границами!<br />Тьма разделила людей на богатых и на их рабов!<br />В Шестой Эпохе будут, Нового Мира, написаны Вами страницы!<br />Ибо начинается Новая Эпоха уже не просто людей, а людей-Богов!</p>
<p class="poem">Для России уже проявлены Новые точки отсчёта от Создателя!<br />Создатель определил для этого Народа в Пространстве позицию,<br />Только Россия в этом Мире, является Судьбы своей обладателем,<br />Этому Народу суждено реализовать в Мире, Равенства, Концепцию!</p>
<p class="poem">Люди в Пятой Эпохе формировали Пространство только силой!<br />Была Вечная борьба за определяющие позиции,<br />У человечества в Пятой Эпохе не получилось Единения, а получился сбой!<br />В Пятой Эпохе были выстроены несправедливые границы!</p>
<p class="poem">Сегодня, на границе Эпох, так и не получилось, никакого Единения!<br />Миром управляет Концепция материальной выгоды!<br />Такая позиция была направлена против, в Духе людей, Объединения,<br />На поверхности, оказалась Концепция Материальной Мечты!</p>
<p class="poem">В этих условиях Россия начинает готовить Новые представления,<br />Согласно которым, жизнь людей в Духе протекает не ради прибыли,<br />Люди, живущие в Духе, а, это уже Божественное явление,<br />Божественность в Духе превращается в Быль!</p>
<p class="poem">В конце Пятой Эпохи стало предельно ясно, что управляет сила,<br />Она управляет не только жизнью человека, но и его Сознанием,<br />Тьма, в последний Момент, Сознание человека, распотрошила,<br />Человек, в конце Эпохи, опустился на уровень раба, без Знаний!</p>
<p class="poem">Переломный Момент наступил в конце Пятой Эпохи,<br />Война Славян показала, что человечество в развитии остановилось,<br />Создатель начал готовить уже людей для Шестой Эпохи, в сроки,<br />Нужно, чтобы Сознание людей в срок, перевернулось!</p>
<p class="poem">Создатель отказал в помощи, только людям-рабам,<br />Нельзя спасать тех, кто уже в Ад опустился, добровольно,<br />Создатель только Россию допустил к Небесным Дарам,<br />Люди согласились с доводами Создателя, невольно!</p>
<p class="poem">Вы прошли Путь познания Истины, длиной в 20 лет!<br />Теперь для Вас год или два &ndash; это, совсем, не время!<br />Вам надо сформировать свой, этой жизни Ответ,<br />Вам надо людям доказать, что жизнь раба &ndash; это бремя!</p>
<p class="poem">Условия Договора России с Богом, говорят об этом!<br />Вам нужно реализовать Великую Мечту и Идею Бога!<br />Знания Создателя для Вас есть, как основа, Вашего Дома,<br />Поверьте, Вселенная будет для Вас Домом в Итоге!</p>
<p class="poem"><strong>Поэтому,</strong> <strong>Создатель</strong> <strong>начал</strong> <strong>Ваш</strong> <strong>переход</strong> <strong>в</strong> <strong>Боги!</strong><br /><strong>Сначала</strong> <strong>Создателю</strong> <strong>надо</strong> <strong>остановить</strong> <strong>эту</strong> <strong>войну!</strong><br />Постепенно, Вы подойдёте к Историческому Итогу,<br />Вы должны остановить движение людей ко дну!</p>
<p class="poem">Всё, что, сейчас, в этом Мире &ndash; это, совсем, не тот Путь!<br />Люди разделены, а правит Миром гордыня и богатство,<br />Россия, с помощью, Тьмы, после Союза, опустилась на дно и в этом Суть,<br />Надо остановить в Народе от Тьмы хамство!</p>
<p class="poem">Вам предстоит не просто открыть для всех Шестую Эпоху!<br />Вам предстоит переделать при жизни условия,<br />Важно, чтобы Россия прошла Переход без остановки и сходу,<br />Создатель предупредил, что не будет никаких сословий!</p>
<p class="poem">Создатель начал изменять Сознание человечества!<br />Но, для людей очень важен живой пример!<br />Война Славян не позволила создать Отечество,<br />Против Тьмы и войны Создатель применит меры!</p>
<p class="poem">Войну, сотворила Тьма, против Идеологии Равенства Бога!<br />Война разрушила до основания Советский Союз,<br />За это власть страны получит наказание в Итоге,<br />А Тьма, как инициатор, закончит свой на Планете курс!</p>
<p class="poem">Вам придётся, с помощью, Бога все начинать с нуля!<br />Пятая Эпоха &ndash; это очень плохой пример,<br />Это, поверьте, совсем не простая, от Создателя доля,<br />Но, Вы &ndash; это единственная, уровня Бога, мера!</p>
<p class="noind">Да будет Свет Истины!<br />Отец Абсолют или Высший Космический Разум!</p>

            <p class="noind">06.07.2024</p></div><script>
        if (typeof typeContent === 'undefined') {
            var typeContent = 'Poem';
        }

        </script></div></main></div></div></section>
        
        <footer class="blok-footer"><div class="container-fluid"><div class="row"><div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-lg-offset-260 col-md-offset-3 col-sm-offset-4 large-monitor-center"><p class="copyright">Copyright © <a href="mailto:maslovli@yandex.ru">Leonid Maslov</a> 2004-<span id="footerYear">2025</span><br>При копировании материалов с Сайта <a href="https://otkroveniya.com" target="_blank">ссылка на Первоисточник</a> обязательна.</p>
                <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function() { document.getElementById('footerYear').innerHTML = new Date().getFullYear(); });
                </script>
                <div class="blok-metrik"></div></div></div></div></footer></div>

    <div id="api-ext-data" hx-get="/ext/data/2024-07-06" hx-trigger="load[isExtRequestVal], msu-ext-data" hx-headers="js:{ &#x27;msu-PreMonth&#x27;: getPreCldPath(), &#x27;msu-IsCldRequest&#x27;: isCldRequestVal }" hx-ext="json-response" hx-indicator="#spinner" hx-swap="none" hx-push-url="false"></div>
    <div id="dummy" hx-swap="none" hx-push-url="false" class="hidden"></div>

    

    <script>
        window.onerror = function(message, url, line, col, error) {
            alert(message+"\n В "+line+":"+col+" на "+url);
        };
    </script>

    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"></script><script type="text/javascript" src="/conf_otk.js"></script><script type="text/javascript" src="/_content/MSU.View.Otk/js/shared.js"></script>
    <script type="text/javascript" src="/_content/MSU.View.Otk/js/calendar.js"></script>
    <script type="text/javascript" src="/_content/MSU.View.Otk/js/app.js"></script>

    <script>
        var siteID = 'OTK';
    </script></body></html>