<!DOCTYPE html>
<html lang="ru"><head><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="version" content="1.0.0-alpha87" />
    <base href="/">
    <meta name="description" content="Прямое обращение Высшего Космического Разума (Господа Бога, Отца Абсолюта) к человечеству. Книга, записанная Масловым Леонидом Ивановичем." />
    <meta name="author" content="Маслов Леонид Иванович">
    
    <link rel="shortcut icon" href="/_content/MSU.View.Otk/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu">
    

    
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/shared.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/calendar.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/cld-otk.css" />

    <title>Нет, уже, для Вас, никаких, препятствий! | Откровения людям Нового века</title></head>


<body hx-boost="true" hx-target="#main-cont" hx-headers="{ &quot;Accept&quot;: &quot;text/html&quot; }" hx-indicator="#spinner" hx-push-url="true" onmouseout="moveCounter=0"><div id="page" class="page" onmousemove="typeof moveCounter !== &#x27;undefined&#x27; ? moveCounter&#x2B;&#x2B; : 0"><section id="top"><header><div class="row container-fluid"><div class="sm-container-header"><div class="row header"><div class="otk-sitename">ОТКРОВЕНИЯ</div>
                            <div class="site-sub-name">ЛЮДЯМ НОВОГО ВЕКА</div>
                            <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4"><div class="col-md-6 col-sm-6 hidden-xs sm-unread-zindex"><div id="unreadBlock"></div></div>
                                
                                <div class="col-md-6 col-sm-6 hidden-xs pull-right baner-quote"><div id="quote-block" hx-get="/ext/quote" hx-trigger="load[isQuoteRequestVal], msu-ext-quote" hx-target="this" hx-indicator="#spinner" hx-push-url="false"></div></div></div> 
                            <div class="book">Эта Книга продиктована Высшим Космическим Разумом избранному Им Человеку в России</div></div></div> 

                    <div class="row"><div id="menublock"><nav role="navigation" class="navbar navbar-inverse navbar-static-top top-menu"><div class="navbar-header small-menu"><div class="hidden-lg hidden-md hidden-sm col-xs-12"><div id="unreadBlockMobile"></div>
                                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"><span class="sr-only">Разделы сайта</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span></button></div></div>
                                
                                <div><div id="bs-navbar" class="collapse navbar-collapse" style><ul class="nav nav-pills nav-justified top-menu-ul"><li aria-selected="false" class=""><a href="/">ГЛАВНАЯ</a></li><li aria-selected="false" class=""><a href="predislovie.html">ПРЕДИСЛОВИЕ ВСЕВЫШНЕГО</a></li><li aria-selected="false" class=""><a href="otkroveniya.html">ОТКРОВЕНИЯ</a></li><li aria-selected="false" class=""><a href="tolkovaniya.html">ТОЛКОВАНИЯ</a></li><li aria-selected="false" class=""><a href="year.html">НОВЫЕ ТЕКСТЫ</a></li><li aria-selected="false" class=""><a href="poems/year.html">КАТРЕНЫ</a></li><li aria-selected="false" class=""><a href="intforum.html">НОВОСТИ</a></li><li aria-selected="false" class=""><a href="novosti.html">ОБЪЯВЛЕНИЯ</a></li></ul></div></div></nav></div></div></div></header></section>
        
        <section id="general" class="page_section"><div class="container-fluid"><div class="row"><div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 large-monitor-left"><div class="razdel"><h2><span id="spinner-search" class="my-indicator"></span>Поиск по Сайту</h2>
        <form method="post" action="/search" hx-headers="js:{ &quot;XSRF-TOKEN&quot;: getToken(&quot;XSRF-TOKEN&quot;) }" asp-antiforgery="false" name="Search"><div class="txt-blue" id="search"><div class="search-group"><div class="input-search-group"><input name="SearchString" class="srch" type="search"></div>
                    <div class="list-search-group"><button id="s2" type="submit" class="btn-search">&gt;&gt;</button></div></div>
                <div class="clear"></div>
                <div><div class="where-search-block"><select name="Where" class="style-select where-search"><option value="Mess">в Посланиях</option>
                            <option value="Poems">в Катренах</option>
                            <option value="Titles">в заголовках</option>
                            <option value="Site">по всему Сайту</option>
                            <option value="Date">по дате</option>
                            <option value="Quote">в цитатах</option></select></div>
                    <div class="find txt-blue">искать</div></div></div></form>
        <div class="clear"></div></div>

    
    <div class="razdel"><h2>Послания за <span id="cldTitle">октябрь 2025</span> года</h2><div class="kalendar"><div id="caleandar"></div>
            <div class="select-poslan"><span id="goto" class="txt-blue goto">перейти к</span><select id="cldMonth" onchange="onChangeMonth(this.value)" class="style-select select-month"><option selected value="-1">месяцу...</option><option value="1">Январь</option><option value="2">Февраль</option><option value="3">Март</option><option value="4">Апрель</option><option value="5">Май</option><option value="6">Июнь</option><option value="7">Июль</option><option value="8">Август</option><option value="9">Сентябрь</option><option value="10">Октябрь</option><option value="11">Ноябрь</option><option value="12">Декабрь</option></select>
                <select id="cldYear" onchange="onChangeYear(this.value)" class="style-select select-year"><option selected value="-1">года...</option></select></div></div>
        <div id="api-ext-cld" hx-get="/ext/cld/2025-10.json" hx-trigger="load[isCldRequestOnLoad()], msu-ext-cld" hx-headers="js:{&#x27;msu-PreMonth&#x27;: getPreCldPath()}" hx-ext="json-response" hx-indicator="#spinner" hx-swap="none" hx-push-url="false"></div>
        <div class="clear"></div></div><div class="razdel"><h2>Кто на Сайте</h2>
            <div class="txt-blue lh-block">
                В данный момент на Сайте <span id="online-block" hx-get="/ext/online" hx-trigger="load[isOnlineRequestVal], msu-ext-online" hx-target="this" hx-indicator="#spinner" hx-push-url="false"></span></div></div>
        <div class="clear"></div><div id="timeleft-block" class="razdel hidden"><details open><summary><h2 class="cursorPointer">Обратный отсчёт</h2></summary>
                <div class="collapse in txt-blue lh-block" id="collapseCountdown" role="tabpanel">
                    До момента Посыла на ЛЮБОВЬ и ДУХОВНОЕ ЕДИНЕНИЕ Народа Святой Руси осталось&nbsp; <span id="timeleft" hx-get="/ext/countdown" hx-trigger="load[isCountdownRequestVal], msu-ext-timeleft" hx-ext="json-response" hx-swap="none" hx-indicator="#spinner" hx-push-url="false" style="font-size:20px"></span></div></details></div><div style="display: flex; justify-content: center;"><div id="spinner" class="my-indicator"></div></div>

    
    <div class="razdel"></div>

    <script></script></div>

                    
                    <main><div id="main-cont" hx-get="/" hx-trigger="msu-on-get-dns" class="col-lg-9 col-md-9 col-sm-8 col-xs-12 page-main large-monitor-center"><h1 class="page-title"><span class='date'>09.10.2025</span> Катрен №09 (3433) “Нет, уже, для Вас, никаких, препятствий!”</h1><div class="razdel poem-blok"><p class="poem">Жизнь, требует, всегда, корректировки!<br>
Особенно, на Историческом перекрёстке!<br>
Жизнь, не терпит, никаких, уловок!<br>
Всегда, начинается Новой Главы, вёрстка!</p>

<p class="poem">Вам, пора определиться с решением!<br>
У Вас выбора нет, ибо Вы с Богом!<br>
Впереди, одно направление движения!<br>
Только прямо и никогда боком!</p>

<p class="poem">Вы прошли Вече, как Экзамен!<br>
Вам не хватило Мужества!<br>
Начинается, время Перемен!<br>
Возможностей, будет множество!</p>

<p class="poem">Теперь, впереди Вас ждёт Эпоха!<br>
Небывалый переход в Боги!<br>
Создатель говорит об Эпохе!<br>
Предупреждая о том, что ждёт в Итоге!</p>

<p class="poem">Вам, надо на Мир обратить внимание!<br>
Планете грозит Мировая война!<br>
Вы, для Создателя, необычное достояние!<br>
Вас не коснётся, Цунами или Морская волна!</p>

<p class="poem">Создатель, заставит взглянуть на Россию!<br>
Ибо, Она начинает возвращать Равенство!<br>
Спасти этот Мир &ndash; это Руси Миссия!<br>
Россия, заслужила в Мире, Главенство!</p>

<p class="poem">Пятая Эпоха, уходя, разделила Мир!<br>
Разрешив, обсуждать, Мировую войну!<br>
В Ней, обогащение, было ориентиром!<br>
Это, развернуло человечество ко дну!</p>

<p class="poem">Сегодня, Россия реализует свою Миссию!<br>
Она сохранила Равенство и Любовь!<br>
Сегодня, по этому пути, ведёт Русь Мессия,<br>
Как, Источник Духа, сегодня, ещё на Крови!</p>

<p class="poem">Пророк-Мессия, хорошо знает свой Путь!<br>
Он знает, как пройти Эволюцию!<br>
Россия, для Планеты &ndash; это людей-Богов Суть!<br>
Для них, не нужна, никакая инструкция!</p>

<p class="poem">Вами, вымерен Путь в Боги, до миллиметра!<br>
Вече сыграло роль, неудачного опыта!<br>
Теперь, Вас с Пути не собьёт, даже Солнечный ветер!<br>
В Новой Эпохе, не будет, как раньше, мешать быт!</p>

<p class="poem">Вы готовы, внутри себя, к этому!<br>
Более того, Вы спешите уже начать!<br>
Вы, готовы, теперь, окончательно,<br>
На Вас Создатель, поставил Печать!</p>

<p class="poem">Вам, как ни странно, Вече помогло решить!<br>
Другого Пути нет и никогда, не будет!<br>
Вы, осознали, Значимость, этого движения!<br>
Которому, в Новой Эпохе, конца, не будет!</p>

<p class="poem">Главное, что внутри себя, принято Вами, решение!<br>
Впервые, Создатель, осознал Ваше Единство!<br>
В Новом году, начнёте, наконец, движение!<br>
Сами, поймёте, что это есть Естество!</p>

<p class="poem">Вас, уже не разъединить в Мире, ничем!<br>
Вы, уже, есть Основа Шестой Расы!<br>
Вам не нужны, для освещения дороги, свечи!<br>
Вы, сами, сотворили Освящённую, трассу!</p>

<p class="poem">Удивительно, но теперь Вам внутри, легко!<br>
Вы, приняли, наконец, для себя решение!<br>
Фактически, Вы открыли в Космос окно,<br>
Осталось, открыть дверь, для движения!</p>

<p class="poem">После, Вече, Вы, вдруг, поднялись!<br>
Неудача, неожиданно, сплотила Вас!<br>
Вы, в Идеологии Равенства, сплотились!<br>
Вы, сами определили свой Святой час!</p>

<p class="poem">Час, Перехода в Боги или Преображение!<br>
Теперь, Сергий, не позволит Вас спугнуть!<br>
Вы, уже рвётесь начать изменение!<br>
Вы, утвердили к Создателю, свой Путь!</p>

<p class="poem">Нет, уже, для Вас никаких препятствий!<br>
Будущее захватило Вас!<br>
Вы, спасёте человечество от бедствий!<br>
Наступает Вашей Судьбы час!</p>

<p class="noind">Да будет Свет Истины!<br>
Отец Абсолют или Высший Космический Разум!</p>

            <p class="noind">09.10.2025</p></div><script>
        if (typeof typeContent === 'undefined') {
            var typeContent = 'Poem';
        }

        </script></div></main></div></div></section>
        
        <footer class="blok-footer"><div class="container-fluid"><div class="row"><div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-lg-offset-260 col-md-offset-3 col-sm-offset-4 large-monitor-center"><p class="copyright">Copyright © <a href="mailto:maslovli@yandex.ru">Leonid Maslov</a> 2004-<span id="footerYear">2025</span><br>При копировании материалов с Сайта <a href="https://otkroveniya.com" target="_blank">ссылка на Первоисточник</a> обязательна.</p>
                <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function() { document.getElementById('footerYear').innerHTML = new Date().getFullYear(); });
                </script>
                <div class="blok-metrik"></div></div></div></div></footer></div>

    <div id="api-ext-data" hx-get="/ext/data/2025-10-09" hx-trigger="load[isExtRequestVal], msu-ext-data" hx-headers="js:{ &#x27;msu-PreMonth&#x27;: getPreCldPath(), &#x27;msu-IsCldRequest&#x27;: isCldRequestVal }" hx-ext="json-response" hx-indicator="#spinner" hx-swap="none" hx-push-url="false"></div>
    <div id="dummy" hx-swap="none" hx-push-url="false" class="hidden"></div>

    

    <script>
        window.onerror = function(message, url, line, col, error) {
            alert(message+"\n В "+line+":"+col+" на "+url);
        };
    </script>

    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"></script><script type="text/javascript" src="/conf_otk.js"></script><script type="text/javascript" src="/_content/MSU.View.Otk/js/shared.js"></script>
    <script type="text/javascript" src="/_content/MSU.View.Otk/js/calendar.js"></script>
    <script type="text/javascript" src="/_content/MSU.View.Otk/js/app.js"></script>

    <script>
        var siteID = 'OTK';
    </script></body></html>