<!DOCTYPE html>
<html lang="ru"><head><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="version" content="1.0.0-alpha87" />
    <base href="/">
    <meta name="description" content="Прямое обращение Высшего Космического Разума (Господа Бога, Отца Абсолюта) к человечеству. Книга, записанная Масловым Леонидом Ивановичем." />
    <meta name="author" content="Маслов Леонид Иванович">
    
    <link rel="shortcut icon" href="/_content/MSU.View.Otk/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu">
    

    
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/shared.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/calendar.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/cld-otk.css" />

    <title>Россия, направилась в Небо, с помощью Бога!! | Откровения людям Нового века</title></head>


<body hx-boost="true" hx-target="#main-cont" hx-headers="{ &quot;Accept&quot;: &quot;text/html&quot; }" hx-indicator="#spinner" hx-push-url="true" onmouseout="moveCounter=0"><div id="page" class="page" onmousemove="typeof moveCounter !== &#x27;undefined&#x27; ? moveCounter&#x2B;&#x2B; : 0"><section id="top"><header><div class="row container-fluid"><div class="sm-container-header"><div class="row header"><div class="otk-sitename">ОТКРОВЕНИЯ</div>
                            <div class="site-sub-name">ЛЮДЯМ НОВОГО ВЕКА</div>
                            <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4"><div class="col-md-6 col-sm-6 hidden-xs sm-unread-zindex"><div id="unreadBlock"></div></div>
                                
                                <div class="col-md-6 col-sm-6 hidden-xs pull-right baner-quote"><div id="quote-block" hx-get="/ext/quote" hx-trigger="load[isQuoteRequestVal], msu-ext-quote" hx-target="this" hx-indicator="#spinner" hx-push-url="false"></div></div></div> 
                            <div class="book">Эта Книга продиктована Высшим Космическим Разумом избранному Им Человеку в России</div></div></div> 

                    <div class="row"><div id="menublock"><nav role="navigation" class="navbar navbar-inverse navbar-static-top top-menu"><div class="navbar-header small-menu"><div class="hidden-lg hidden-md hidden-sm col-xs-12"><div id="unreadBlockMobile"></div>
                                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"><span class="sr-only">Разделы сайта</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span></button></div></div>
                                
                                <div><div id="bs-navbar" class="collapse navbar-collapse" style><ul class="nav nav-pills nav-justified top-menu-ul"><li aria-selected="false" class=""><a href="/">ГЛАВНАЯ</a></li><li aria-selected="false" class=""><a href="predislovie.html">ПРЕДИСЛОВИЕ ВСЕВЫШНЕГО</a></li><li aria-selected="false" class=""><a href="otkroveniya.html">ОТКРОВЕНИЯ</a></li><li aria-selected="false" class=""><a href="tolkovaniya.html">ТОЛКОВАНИЯ</a></li><li aria-selected="false" class=""><a href="year.html">НОВЫЕ ТЕКСТЫ</a></li><li aria-selected="false" class=""><a href="poems/year.html">КАТРЕНЫ</a></li><li aria-selected="false" class=""><a href="intforum.html">НОВОСТИ</a></li><li aria-selected="false" class=""><a href="novosti.html">ОБЪЯВЛЕНИЯ</a></li></ul></div></div></nav></div></div></div></header></section>
        
        <section id="general" class="page_section"><div class="container-fluid"><div class="row"><div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 large-monitor-left"><div class="razdel"><h2><span id="spinner-search" class="my-indicator"></span>Поиск по Сайту</h2>
        <form method="post" action="/search" hx-headers="js:{ &quot;XSRF-TOKEN&quot;: getToken(&quot;XSRF-TOKEN&quot;) }" asp-antiforgery="false" name="Search"><div class="txt-blue" id="search"><div class="search-group"><div class="input-search-group"><input name="SearchString" class="srch" type="search"></div>
                    <div class="list-search-group"><button id="s2" type="submit" class="btn-search">&gt;&gt;</button></div></div>
                <div class="clear"></div>
                <div><div class="where-search-block"><select name="Where" class="style-select where-search"><option value="Mess">в Посланиях</option>
                            <option value="Poems">в Катренах</option>
                            <option value="Titles">в заголовках</option>
                            <option value="Site">по всему Сайту</option>
                            <option value="Date">по дате</option>
                            <option value="Quote">в цитатах</option></select></div>
                    <div class="find txt-blue">искать</div></div></div></form>
        <div class="clear"></div></div>

    
    <div class="razdel"><h2>Послания за <span id="cldTitle">ноябрь 2025</span> года</h2><div class="kalendar"><div id="caleandar"></div>
            <div class="select-poslan"><span id="goto" class="txt-blue goto">перейти к</span><select id="cldMonth" onchange="onChangeMonth(this.value)" class="style-select select-month"><option selected value="-1">месяцу...</option><option value="1">Январь</option><option value="2">Февраль</option><option value="3">Март</option><option value="4">Апрель</option><option value="5">Май</option><option value="6">Июнь</option><option value="7">Июль</option><option value="8">Август</option><option value="9">Сентябрь</option><option value="10">Октябрь</option><option value="11">Ноябрь</option><option value="12">Декабрь</option></select>
                <select id="cldYear" onchange="onChangeYear(this.value)" class="style-select select-year"><option selected value="-1">года...</option></select></div></div>
        <div id="api-ext-cld" hx-get="/ext/cld/2025-11.json" hx-trigger="load[isCldRequestOnLoad()], msu-ext-cld" hx-headers="js:{&#x27;msu-PreMonth&#x27;: getPreCldPath()}" hx-ext="json-response" hx-indicator="#spinner" hx-swap="none" hx-push-url="false"></div>
        <div class="clear"></div></div><div class="razdel"><h2>Кто на Сайте</h2>
            <div class="txt-blue lh-block">
                В данный момент на Сайте <span id="online-block" hx-get="/ext/online" hx-trigger="load[isOnlineRequestVal], msu-ext-online" hx-target="this" hx-indicator="#spinner" hx-push-url="false"></span></div></div>
        <div class="clear"></div><div id="timeleft-block" class="razdel hidden"><details open><summary><h2 class="cursorPointer">Обратный отсчёт</h2></summary>
                <div class="collapse in txt-blue lh-block" id="collapseCountdown" role="tabpanel">
                    До момента Посыла на ЛЮБОВЬ и ДУХОВНОЕ ЕДИНЕНИЕ Народа Святой Руси осталось&nbsp; <span id="timeleft" hx-get="/ext/countdown" hx-trigger="load[isCountdownRequestVal], msu-ext-timeleft" hx-ext="json-response" hx-swap="none" hx-indicator="#spinner" hx-push-url="false" style="font-size:20px"></span></div></details></div><div style="display: flex; justify-content: center;"><div id="spinner" class="my-indicator"></div></div>

    
    <div class="razdel"></div>

    <script></script></div>

                    
                    <main><div id="main-cont" hx-get="/" hx-trigger="msu-on-get-dns" class="col-lg-9 col-md-9 col-sm-8 col-xs-12 page-main large-monitor-center"><h1 class="page-title"><span class='date'>13.11.2025</span> Катрен №13 (3468) “Россия, направилась в Небо, с помощью Бога!!”</h1><div class="razdel poem-blok"><p class="poem">Приходит час искупления, для всех людей!<br>
Вот когда будет ясно, кто и чего, достоин!<br>
Это Великого Преображения прелюдия!<br>
Будет видно, кто из людей в Духе Воин!</p>

<p class="poem">Это, Историческое преображение сил!<br>
Мир, переходит в Небо или в Тонкий план!<br>
На другую Планету, переходит тот, кто себя остановил!<br>
Или тот, кто организовал обывателей Клан!</p>

<p class="poem">Обстоятельства, всех заставят подняться!<br>
Это относится ко всем, и к России!<br>
Россия, должна, сегодня, очень постараться,<br>
Чтобы, завершить от Бога, Миссию!</p>

<p class="poem">Её Миссия &ndash; это спасение человечества!<br>
России предстоит &ndash; это выполнить!<br>
Но, сначала Ей преобразить надо Отечество!<br>
И Чашу Грааля до конца, надо, испить!</p>

<p class="poem">Это всё слова, а, задачи стали острее!<br>
Все, задания соединились, теперь, в Одно!<br>
Итоги, придётся подводить быстрее,<br>
Между, Создателем и Небом &ndash; Ваше Звено!</p>

<p class="poem">Создатель, хочет изменить Космос!<br>
Люди Пятой Эпохи, уже прошлое!<br>
Повторяю, что Шестая Эпоха &ndash; это мост,<br>
Шестая Эпоха, в Космос пройти, сможет!</p>

<p class="poem">Вам, надо поспешить с преображением!<br>
Ваша, задача, подняться к Богу!<br>
Вы, получили из Космоса предупреждение,<br>
Что, Вам пора подниматься к Порогу!</p>

<p class="poem">20 лет Знаний, спрессовались в Миг!<br>
Вы, можете изменить, в Мире соотношение!<br>
Этой Весной наступит долгожданный Пик,<br>
Начнётся, в Космос, Ваше перемещение!</p>

<p class="poem">Создатель, начал уже менять, движение!<br>
Пришельцы, перенаправлены, на Планету!<br>
Создатель, меняет Космические, соотношения!<br>
Интересы, Создателя на Планете, Вами задеты!</p>

<p class="poem">Учёные, заметили поворот Судьбы!<br>
Теперь, от встречи в Космосе, не уйти!<br>
Создатель, хочет спасти Вас от борьбы,<br>
Но, от плана Создателя, Вам не сойти!</p>

<p class="poem">Создатель, диктует Порядок и Правила!<br>
Россия, успела с Ним подписать, Договор!<br>
Создатель, сделает этот Мир правильным!<br>
За решёткой, должен сидеть вор!</p>

<p class="poem">Власти США, начали Создателю, сопротивление!<br>
Война, против Создателя, не имеет успеха!<br>
Против, Суверена, напрасны все старания!<br>
Против Суверена &ndash; это, просто, помехи!</p>

<p class="poem">По Заданию, Создателя, Космос развёрнут!<br>
Люди должны осознать своё положение!<br>
Команда Создателя, для людей, как кнут!<br>
Человек не готов, для Космического сражения!</p>

<p class="poem">Космос, давно в другом измерении!<br>
Пятая Эпоха, словно, прогнившее дно!<br>
Для людей, опасно, одно лишь, намерение,<br>
От Планеты может остаться, только, zero!</p>

<p class="poem">Нужно, правильное людей поведение!<br>
России надо помогать, а не судить!<br>
Не должно быть, никакого силового, давления!<br>
Нужно, попытаться в Мире, жить!</p>

<p class="poem">Россия направилась в Небо, с помощью Бога!<br>
Создатель, спешит подготовить Её!<br>
Россия Весной подведёт все Итоги!<br>
Создатель, представит Русь, как Новое!</p>

<p class="poem">Несколько месяцев, кропотливый труд!<br>
Нужно, поднять людей в Духе!<br>
Это, переработка драгоценных Руд:<br>
Преображение, Сознания людей в Боги!</p>

<p class="noind">Да будет Свет Истины!<br>
Отец Абсолют или Высший Космический Разум!</p>

            <p class="noind">13.11.2025</p></div><script>
        if (typeof typeContent === 'undefined') {
            var typeContent = 'Poem';
        }

        </script></div></main></div></div></section>
        
        <footer class="blok-footer"><div class="container-fluid"><div class="row"><div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-lg-offset-260 col-md-offset-3 col-sm-offset-4 large-monitor-center"><p class="copyright">Copyright © <a href="mailto:maslovli@yandex.ru">Leonid Maslov</a> 2004-<span id="footerYear">2025</span><br>При копировании материалов с Сайта <a href="https://otkroveniya.com" target="_blank">ссылка на Первоисточник</a> обязательна.</p>
                <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function() { document.getElementById('footerYear').innerHTML = new Date().getFullYear(); });
                </script>
                <div class="blok-metrik"></div></div></div></div></footer></div>

    <div id="api-ext-data" hx-get="/ext/data/2025-11-13" hx-trigger="load[isExtRequestVal], msu-ext-data" hx-headers="js:{ &#x27;msu-PreMonth&#x27;: getPreCldPath(), &#x27;msu-IsCldRequest&#x27;: isCldRequestVal }" hx-ext="json-response" hx-indicator="#spinner" hx-swap="none" hx-push-url="false"></div>
    <div id="dummy" hx-swap="none" hx-push-url="false" class="hidden"></div>

    

    <script>
        window.onerror = function(message, url, line, col, error) {
            alert(message+"\n В "+line+":"+col+" на "+url);
        };
    </script>

    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"></script><script type="text/javascript" src="/conf_otk.js"></script><script type="text/javascript" src="/_content/MSU.View.Otk/js/shared.js"></script>
    <script type="text/javascript" src="/_content/MSU.View.Otk/js/calendar.js"></script>
    <script type="text/javascript" src="/_content/MSU.View.Otk/js/app.js"></script>

    <script>
        var siteID = 'OTK';
    </script></body></html>