<!DOCTYPE html>
<html lang="ru"><head><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="version" content="1.0.0-alpha87" />
    <base href="/">
    <meta name="description" content="Прямое обращение Высшего Космического Разума (Господа Бога, Отца Абсолюта) к человечеству. Книга, записанная Масловым Леонидом Ивановичем." />
    <meta name="author" content="Маслов Леонид Иванович">
    
    <link rel="shortcut icon" href="/_content/MSU.View.Otk/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu">
    

    
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/shared.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/calendar.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/cld-otk.css" />

    <title>Главное, Белого Царя, должен захотеть, Народ! | Откровения людям Нового века</title></head>


<body hx-boost="true" hx-target="#main-cont" hx-headers="{ &quot;Accept&quot;: &quot;text/html&quot; }" hx-indicator="#spinner" hx-push-url="true" onmouseout="moveCounter=0"><div id="page" class="page" onmousemove="typeof moveCounter !== &#x27;undefined&#x27; ? moveCounter&#x2B;&#x2B; : 0"><section id="top"><header><div class="row container-fluid"><div class="sm-container-header"><div class="row header"><div class="otk-sitename">ОТКРОВЕНИЯ</div>
                            <div class="site-sub-name">ЛЮДЯМ НОВОГО ВЕКА</div>
                            <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4"><div class="col-md-6 col-sm-6 hidden-xs sm-unread-zindex"><div id="unreadBlock"></div></div>
                                
                                <div class="col-md-6 col-sm-6 hidden-xs pull-right baner-quote"><div id="quote-block" hx-get="/ext/quote" hx-trigger="load[isQuoteRequestVal], msu-ext-quote" hx-target="this" hx-indicator="#spinner" hx-push-url="false"></div></div></div> 
                            <div class="book">Эта Книга продиктована Высшим Космическим Разумом избранному Им Человеку в России</div></div></div> 

                    <div class="row"><div id="menublock"><nav role="navigation" class="navbar navbar-inverse navbar-static-top top-menu"><div class="navbar-header small-menu"><div class="hidden-lg hidden-md hidden-sm col-xs-12"><div id="unreadBlockMobile"></div>
                                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"><span class="sr-only">Разделы сайта</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span></button></div></div>
                                
                                <div><div id="bs-navbar" class="collapse navbar-collapse" style><ul class="nav nav-pills nav-justified top-menu-ul"><li aria-selected="false" class=""><a href="/">ГЛАВНАЯ</a></li><li aria-selected="false" class=""><a href="predislovie.html">ПРЕДИСЛОВИЕ ВСЕВЫШНЕГО</a></li><li aria-selected="false" class=""><a href="otkroveniya.html">ОТКРОВЕНИЯ</a></li><li aria-selected="false" class=""><a href="tolkovaniya.html">ТОЛКОВАНИЯ</a></li><li aria-selected="false" class=""><a href="year.html">НОВЫЕ ТЕКСТЫ</a></li><li aria-selected="false" class=""><a href="poems/year.html">КАТРЕНЫ</a></li><li aria-selected="false" class=""><a href="intforum.html">НОВОСТИ</a></li><li aria-selected="false" class=""><a href="novosti.html">ОБЪЯВЛЕНИЯ</a></li></ul></div></div></nav></div></div></div></header></section>
        
        <section id="general" class="page_section"><div class="container-fluid"><div class="row"><div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 large-monitor-left"><div class="razdel"><h2><span id="spinner-search" class="my-indicator"></span>Поиск по Сайту</h2>
        <form method="post" action="/search" hx-headers="js:{ &quot;XSRF-TOKEN&quot;: getToken(&quot;XSRF-TOKEN&quot;) }" asp-antiforgery="false" name="Search"><div class="txt-blue" id="search"><div class="search-group"><div class="input-search-group"><input name="SearchString" class="srch" type="search"></div>
                    <div class="list-search-group"><button id="s2" type="submit" class="btn-search">&gt;&gt;</button></div></div>
                <div class="clear"></div>
                <div><div class="where-search-block"><select name="Where" class="style-select where-search"><option value="Mess">в Посланиях</option>
                            <option value="Poems">в Катренах</option>
                            <option value="Titles">в заголовках</option>
                            <option value="Site">по всему Сайту</option>
                            <option value="Date">по дате</option>
                            <option value="Quote">в цитатах</option></select></div>
                    <div class="find txt-blue">искать</div></div></div></form>
        <div class="clear"></div></div>

    
    <div class="razdel"><h2>Послания за <span id="cldTitle">август 2025</span> года</h2><div class="kalendar"><div id="caleandar"></div>
            <div class="select-poslan"><span id="goto" class="txt-blue goto">перейти к</span><select id="cldMonth" onchange="onChangeMonth(this.value)" class="style-select select-month"><option selected value="-1">месяцу...</option><option value="1">Январь</option><option value="2">Февраль</option><option value="3">Март</option><option value="4">Апрель</option><option value="5">Май</option><option value="6">Июнь</option><option value="7">Июль</option><option value="8">Август</option><option value="9">Сентябрь</option><option value="10">Октябрь</option><option value="11">Ноябрь</option><option value="12">Декабрь</option></select>
                <select id="cldYear" onchange="onChangeYear(this.value)" class="style-select select-year"><option selected value="-1">года...</option></select></div></div>
        <div id="api-ext-cld" hx-get="/ext/cld/2025-8.json" hx-trigger="load[isCldRequestOnLoad()], msu-ext-cld" hx-headers="js:{&#x27;msu-PreMonth&#x27;: getPreCldPath()}" hx-ext="json-response" hx-indicator="#spinner" hx-swap="none" hx-push-url="false"></div>
        <div class="clear"></div></div><div class="razdel"><h2>Кто на Сайте</h2>
            <div class="txt-blue lh-block">
                В данный момент на Сайте <span id="online-block" hx-get="/ext/online" hx-trigger="load[isOnlineRequestVal], msu-ext-online" hx-target="this" hx-indicator="#spinner" hx-push-url="false"></span></div></div>
        <div class="clear"></div><div id="timeleft-block" class="razdel hidden"><details open><summary><h2 class="cursorPointer">Обратный отсчёт</h2></summary>
                <div class="collapse in txt-blue lh-block" id="collapseCountdown" role="tabpanel">
                    До момента Посыла на ЛЮБОВЬ и ДУХОВНОЕ ЕДИНЕНИЕ Народа Святой Руси осталось&nbsp; <span id="timeleft" hx-get="/ext/countdown" hx-trigger="load[isCountdownRequestVal], msu-ext-timeleft" hx-ext="json-response" hx-swap="none" hx-indicator="#spinner" hx-push-url="false" style="font-size:20px"></span></div></details></div><div style="display: flex; justify-content: center;"><div id="spinner" class="my-indicator"></div></div>

    
    <div class="razdel"></div>

    <script></script></div>

                    
                    <main><div id="main-cont" hx-get="/" hx-trigger="msu-on-get-dns" class="col-lg-9 col-md-9 col-sm-8 col-xs-12 page-main large-monitor-center"><h1 class="page-title"><span class='date'>19.08.2025</span> Катрен №19 (3382) “Главное, Белого Царя, должен захотеть, Народ!”</h1><div class="razdel poem-blok"><p class="poem">Люди, разные для себя, разные и для Бога!<br>
Поэтому, жизнь, каждого человека, сугубо, своя!<br>
Создатель, готовит, по-разному, всех к Итогу!<br>
У каждого человека, в жизни, своя стезя!</p>

<p class="poem">Бог объявил, общее для страны, направление!<br>
Остались люди, помнящие, Советский Союз!<br>
Теперь, в России нет в Завтра, движения,<br>
Экономика страны, тоже начала, юз!</p>

<p class="poem">Создатель, много раз говорил об Идеологии!<br>
Разных людей, в одну Нацию, формирует она!<br>
Сегодня, Россия уменьшилась до патологии,<br>
Россия, на сегодня, уже не такая большая, страна!</p>

<p class="poem">Добиться, без Идеологии, Равенства очень трудно!<br>
Огромные различия, есть между людьми!<br>
Основная масса людей, в стране, смотрит на дно!<br>
Богатые люди, не считают бедных людей, людьми!</p>

<p class="poem">Власть в стране, есть власть богатых людей!<br>
Различие, личных бюджетов, в тысячи раз!<br>
Нет в стране, никаких справедливых, Идей!<br>
Огромная страна, живёт для Мира сего, напоказ!</p>

<p class="poem">Спасти Россию от этого, может только Создатель!<br>
Но, власть играет в игры богатых людей!<br>
Есть в стране, ещё слой, бытовых обывателей!<br>
Их безразличие к стране, становится, только видней!</p>

<p class="poem">Создатель предупреждает, что будет, смена Эпох!<br>
Значит, приходит Великой Эволюции, час!<br>
В России, как и в Мире, не будет Единого потока,<br>
Мессия, от Бога, должен попробовать, свой шанс!</p>

<p class="poem">Шанс один: надо людей повернуть к Богу!<br>
Но, Бог без Веры, не пускает к себе!<br>
Люди к Началу Эпохи, не будут готовы, в Итоге!<br>
Независимо, ни от чего, люди подошли к черте!</p>

<p class="poem">Спастись, без Бога, никто из людей, не сможет!<br>
В Небо перейдут, только, люди Веры и в Духе!<br>
Создатель, только этим людям поможет,<br>
Мир будет Богом спасён, это, обывателей слухи!</p>

<p class="poem">Проявлен, Белый Царь, как Посланник Создателя!<br>
Его Задача, спасти человеческий Род!<br>
Сегодня, Создатель играет Роль наблюдателя,<br>
Он смотрит, какой сделает Белый Царь, ход?</p>

<p class="poem">Царь был явлен, но к делу ещё не приступил!<br>
Потому что, управление страной не у Него!<br>
Час размышления для Белого Царя, наступил,<br>
Оказывается, что исправлять в России есть чего!</p>

<p class="poem">Белый Царь, предложил свой План, людям!<br>
Всё, в соответствии с Планом Бога!<br>
Главное для Него, мнение людей, как прелюдия,<br>
Он ожидает положительного Итога!</p>

<p class="poem">Белый Царь готов, всё зависит от людей!<br>
Он не видит информации от Народа!<br>
Проблемы России, Ему с Неба видней,<br>
Изменилась, после распада Союза, суть Народа!</p>

<p class="poem">Россия, вернулась в капитализм!<br>
Капитализм, для Бога последняя стадия!<br>
Создатель, предложил России в Новой Эпохе, Космизм!<br>
Люди мечтают о Рае, как об эпитафии!</p>

<p class="poem">Белый Царь явлен, пока без Имени!<br>
Люди и власть гадают, кто это есть?<br>
Власть, не может тронуть Его, без имени,<br>
Для Тёмных сил, есть привычное слово, месть!</p>

<p class="poem">Союз, тоже, сформировался, через кровь и насилие!<br>
Но, слово Свобода не живёт на крови!<br>
Белый Царь предлагает в Любви усилие!<br>
Чтобы, Русь жила, как встарь и в Любви!</p>

<p class="poem">Главное, Белого Царя, должен захотеть Народ!<br>
Богатые люди, не хотят менять Президента!<br>
Богатые люди, за счёт государства, это &ndash; плохая порода!<br>
Им, не важно, какую Роль, играет Президент!</p>

<p class="poem">Теперь людьми управляют финансы!<br>
Точнее, кучка очень богатых людей!<br>
Они, не понимают, что награбленные финансы, опасны,<br>
У богатых людей, не бывает счастливых семей!</p>

<p class="poem">Война в Мире закончится, очень скоро!<br>
Ибо, Создателю, необходимо Равенство!<br>
После войны, начнётся большой мор,<br>
Править Миром будет уже Нравственность!</p>

<p class="noind">Да будет Свет Истины!<br>
Отец Абсолют или Высший Космический Разум!</p>

            <p class="noind">19.08.2025</p></div><script>
        if (typeof typeContent === 'undefined') {
            var typeContent = 'Poem';
        }

        </script></div></main></div></div></section>
        
        <footer class="blok-footer"><div class="container-fluid"><div class="row"><div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-lg-offset-260 col-md-offset-3 col-sm-offset-4 large-monitor-center"><p class="copyright">Copyright © <a href="mailto:maslovli@yandex.ru">Leonid Maslov</a> 2004-<span id="footerYear">2025</span><br>При копировании материалов с Сайта <a href="https://otkroveniya.com" target="_blank">ссылка на Первоисточник</a> обязательна.</p>
                <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function() { document.getElementById('footerYear').innerHTML = new Date().getFullYear(); });
                </script>
                <div class="blok-metrik"></div></div></div></div></footer></div>

    <div id="api-ext-data" hx-get="/ext/data/2025-08-19" hx-trigger="load[isExtRequestVal], msu-ext-data" hx-headers="js:{ &#x27;msu-PreMonth&#x27;: getPreCldPath(), &#x27;msu-IsCldRequest&#x27;: isCldRequestVal }" hx-ext="json-response" hx-indicator="#spinner" hx-swap="none" hx-push-url="false"></div>
    <div id="dummy" hx-swap="none" hx-push-url="false" class="hidden"></div>

    

    <script>
        window.onerror = function(message, url, line, col, error) {
            alert(message+"\n В "+line+":"+col+" на "+url);
        };
    </script>

    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"></script><script type="text/javascript" src="/conf_otk.js"></script><script type="text/javascript" src="/_content/MSU.View.Otk/js/shared.js"></script>
    <script type="text/javascript" src="/_content/MSU.View.Otk/js/calendar.js"></script>
    <script type="text/javascript" src="/_content/MSU.View.Otk/js/app.js"></script>

    <script>
        var siteID = 'OTK';
    </script></body></html>