<!DOCTYPE html>
<html lang="ru"><head><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="version" content="1.0.0-alpha87" />
    <base href="/">
    <meta name="description" content="Прямое обращение Высшего Космического Разума (Господа Бога, Отца Абсолюта) к человечеству. Книга, записанная Масловым Леонидом Ивановичем." />
    <meta name="author" content="Маслов Леонид Иванович">
    
    <link rel="shortcut icon" href="/_content/MSU.View.Otk/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu">
    

    
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/shared.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/calendar.css" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/cld-otk.css" />

    <title>Мир многогранен Здесь и Там, в Небе! | Откровения людям Нового века</title></head>


<body hx-boost="true" hx-target="#main-cont" hx-headers="{ &quot;Accept&quot;: &quot;text/html&quot; }" hx-indicator="#spinner" hx-push-url="true" onmouseout="moveCounter=0"><div id="page" class="page" onmousemove="typeof moveCounter !== &#x27;undefined&#x27; ? moveCounter&#x2B;&#x2B; : 0"><section id="top"><header><div class="row container-fluid"><div class="sm-container-header"><div class="row header"><div class="otk-sitename">ОТКРОВЕНИЯ</div>
                            <div class="site-sub-name">ЛЮДЯМ НОВОГО ВЕКА</div>
                            <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4"><div class="col-md-6 col-sm-6 hidden-xs sm-unread-zindex"><div id="unreadBlock"></div></div>
                                
                                <div class="col-md-6 col-sm-6 hidden-xs pull-right baner-quote"><div id="quote-block" hx-get="/ext/quote" hx-trigger="load[isQuoteRequestVal], msu-ext-quote" hx-target="this" hx-indicator="#spinner" hx-push-url="false"></div></div></div> 
                            <div class="book">Эта Книга продиктована Высшим Космическим Разумом избранному Им Человеку в России</div></div></div> 

                    <div class="row"><div id="menublock"><nav role="navigation" class="navbar navbar-inverse navbar-static-top top-menu"><div class="navbar-header small-menu"><div class="hidden-lg hidden-md hidden-sm col-xs-12"><div id="unreadBlockMobile"></div>
                                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"><span class="sr-only">Разделы сайта</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span></button></div></div>
                                
                                <div><div id="bs-navbar" class="collapse navbar-collapse" style><ul class="nav nav-pills nav-justified top-menu-ul"><li aria-selected="false" class=""><a href="/">ГЛАВНАЯ</a></li><li aria-selected="false" class=""><a href="predislovie.html">ПРЕДИСЛОВИЕ ВСЕВЫШНЕГО</a></li><li aria-selected="false" class=""><a href="otkroveniya.html">ОТКРОВЕНИЯ</a></li><li aria-selected="false" class=""><a href="tolkovaniya.html">ТОЛКОВАНИЯ</a></li><li aria-selected="false" class=""><a href="year.html">НОВЫЕ ТЕКСТЫ</a></li><li aria-selected="false" class=""><a href="poems/year.html">КАТРЕНЫ</a></li><li aria-selected="false" class=""><a href="intforum.html">НОВОСТИ</a></li><li aria-selected="false" class=""><a href="novosti.html">ОБЪЯВЛЕНИЯ</a></li></ul></div></div></nav></div></div></div></header></section>
        
        <section id="general" class="page_section"><div class="container-fluid"><div class="row"><div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 large-monitor-left"><div class="razdel"><h2><span id="spinner-search" class="my-indicator"></span>Поиск по Сайту</h2>
        <form method="post" action="/search" hx-headers="js:{ &quot;XSRF-TOKEN&quot;: getToken(&quot;XSRF-TOKEN&quot;) }" asp-antiforgery="false" name="Search"><div class="txt-blue" id="search"><div class="search-group"><div class="input-search-group"><input name="SearchString" class="srch" type="search"></div>
                    <div class="list-search-group"><button id="s2" type="submit" class="btn-search">&gt;&gt;</button></div></div>
                <div class="clear"></div>
                <div><div class="where-search-block"><select name="Where" class="style-select where-search"><option value="Mess">в Посланиях</option>
                            <option value="Poems">в Катренах</option>
                            <option value="Titles">в заголовках</option>
                            <option value="Site">по всему Сайту</option>
                            <option value="Date">по дате</option>
                            <option value="Quote">в цитатах</option></select></div>
                    <div class="find txt-blue">искать</div></div></div></form>
        <div class="clear"></div></div>

    
    <div class="razdel"><h2>Послания за <span id="cldTitle">июнь 2025</span> года</h2><div class="kalendar"><div id="caleandar"></div>
            <div class="select-poslan"><span id="goto" class="txt-blue goto">перейти к</span><select id="cldMonth" onchange="onChangeMonth(this.value)" class="style-select select-month"><option selected value="-1">месяцу...</option><option value="1">Январь</option><option value="2">Февраль</option><option value="3">Март</option><option value="4">Апрель</option><option value="5">Май</option><option value="6">Июнь</option><option value="7">Июль</option><option value="8">Август</option><option value="9">Сентябрь</option><option value="10">Октябрь</option><option value="11">Ноябрь</option><option value="12">Декабрь</option></select>
                <select id="cldYear" onchange="onChangeYear(this.value)" class="style-select select-year"><option selected value="-1">года...</option></select></div></div>
        <div id="api-ext-cld" hx-get="/ext/cld/2025-6.json" hx-trigger="load[isCldRequestOnLoad()], msu-ext-cld" hx-headers="js:{&#x27;msu-PreMonth&#x27;: getPreCldPath()}" hx-ext="json-response" hx-indicator="#spinner" hx-swap="none" hx-push-url="false"></div>
        <div class="clear"></div></div><div class="razdel"><h2>Кто на Сайте</h2>
            <div class="txt-blue lh-block">
                В данный момент на Сайте <span id="online-block" hx-get="/ext/online" hx-trigger="load[isOnlineRequestVal], msu-ext-online" hx-target="this" hx-indicator="#spinner" hx-push-url="false"></span></div></div>
        <div class="clear"></div><div id="timeleft-block" class="razdel hidden"><details open><summary><h2 class="cursorPointer">Обратный отсчёт</h2></summary>
                <div class="collapse in txt-blue lh-block" id="collapseCountdown" role="tabpanel">
                    До момента Посыла на ЛЮБОВЬ и ДУХОВНОЕ ЕДИНЕНИЕ Народа Святой Руси осталось&nbsp; <span id="timeleft" hx-get="/ext/countdown" hx-trigger="load[isCountdownRequestVal], msu-ext-timeleft" hx-ext="json-response" hx-swap="none" hx-indicator="#spinner" hx-push-url="false" style="font-size:20px"></span></div></details></div><div style="display: flex; justify-content: center;"><div id="spinner" class="my-indicator"></div></div>

    
    <div class="razdel"></div>

    <script></script></div>

                    
                    <main><div id="main-cont" hx-get="/" hx-trigger="msu-on-get-dns" class="col-lg-9 col-md-9 col-sm-8 col-xs-12 page-main large-monitor-center"><h1 class="page-title"><span class='date'>29.06.2025</span> Катрен №29 (3331) “Мир многогранен Здесь и Там, в Небе!”</h1><div class="razdel poem-blok"><p class="poem">Люди, не знают, как сложно, устроен Мир!<br>
Люди, привыкли к тому, что есть Создатель!<br>
На Создателя, предлагается людям, ориентир!<br>
Сегодня, открывается человек, уже, как наблюдатель!</p>

<p class="poem">Религии, упростили, этого Мира, понимание:<br>
Есть Создатель и есть многогранный Мир!<br>
Не видно, в Духе, человека движение!<br>
Никто не объяснял людям, что есть, этот Мир!</p>

<p class="poem">У людей есть представления, что есть Жизнь и Смерть!<br>
Примитивные, у людей представления!<br>
Для Нового Мира &ndash; эти представления, уже ересь!<br>
Ибо, человек &ndash; это Вечное, в Мире, движение!</p>

<p class="poem">Людям понятно, что человек меняется, постоянно!<br>
Причём, жизнь переходит, всегда, в Новое состояние!<br>
Все религии говорят о смерти человека, явно!<br>
Но, постепенно, приходит смерти, Новое понимание!</p>

<p class="poem"><b>Сегодня, Создатель говорит, что смерти нет!<br>
Что человек переходит из Материи в Энергию!<br>
Что, каждому человеку, готов Вечный Билет!<br>
Переход, из Материи в Энергию, связан с потерями!</b></p>

<p class="poem">Глубокий анализ, говорит, что всё происходит в Духе!<br>
Создатель сказал, что есть Сознания, Дух!<br>
Последние представления, говорят, и о Душе!<br>
Создатель, людям говорит об этом, теперь, вслух!</p>

<p class="poem">Люди не знают, что бывает с Душой, потом!<br>
Религии, этот вопрос не обсуждают,<br>
Просто, человек не знает, что бывает в Мире другом?<br>
Люди знают только, что, после Смерти, они не умирают!</p>

<p class="poem"><b>Сегодня, в этом Мире пороков, это не обсуждается!<br>
Ибо, человек в Небе &ndash; это Там, Его Душа!<br>
Человек в Небесах, не растворяется,<br>
Его будущее, обсуждает с Создателем, Его Душа!</b></p>

<p class="poem">Мир, многогранен Здесь и Там, в Небе!<br>
Человек, планирует свою, в Небе, Судьбу!<br>
Человек, может по желанию, вернуться в тело!<br>
Человек, не может нарушать событий, череду!</p>

<p class="poem">Религиями управляют люди, а не Боги!<br>
Человеку не дано знать, своё Завтра!<br>
Люди не знают, даже своих Путей, отроги,<br>
И что же, такое, для людей Правда?</p>

<p class="poem">Сегодня, Создатель открывает людям Правду,<br>
Что люди не готовы принять управление!<br>
Только Душа человека, знает Его Завтра,<br>
Значит, знает, направление движения!</p>

<p class="poem">Человек, должен подняться до Высот Бога!<br>
Для человека есть, объём Совершенства!<br>
Только Создатель, может подвести Итоги!<br>
Путь в Небо, это Путь &ndash; Сотворчества!</p>

<p class="poem">По религиям, есть Создатель и человек – только!<br>
Это, очень примитивный Путь!<br>
Человек должен быть в Духе, и не только!<br>
Человек &ndash; это Совершенства Создателя, Суть!</p>

<p class="poem">Человек не Сам, а Его Душа в Небо уходит!<br>
Уход в Небо, но не насовсем!<br>
Душа человека, всё своё, с собой носит!<br>
Она Там, на время может, даже, стать никем!</p>

<p class="poem">Душа выбирает Сама, Судьбу и направление!<br>
Трудный Путь в жизни &ndash; это дорога Вверх!<br>
Душа определяет, для Завтра, движение!<br>
Самое Главное, что надо идти, только, Вверх!</p>

<p class="poem"><b>Человек, должен открыть Истину,<br>
В этом многогранном, Небесном, поле,<br>
Человек, должен очистить себя от Тьмы,<br>
Человек, должен проявить Свободную Волю!</b></p>

<p class="poem">Пока, представления, о самих себе, есть примитив!<br>
Виноваты в этом, прежде всего, сами люди!<br>
Сегодня, только в России, проявляется людей, актив,<br>
Это есть Шестой, уже, Эпохи прелюдия!</p>

<p class="poem">Сегодня в активе: Создатель, Небо и люди!<br>
Но, главный актив &ndash; это человека Душа!<br>
Вы, формируете, сегодня, Шестой Эпохи прелюдию,<br>
Вам, нельзя, ждать Новый Мир, руки сложа!</p>

<p class="poem">Есть Создатель, Мессия и Вы, сами!<br>
Вам, надо очертить свой в Небо, Путь!<br>
Вам надо сделать для этого Мира, сани,<br>
Вам, надо сотворить, Божественного Мира, Суть!</p>

<p class="noind">Да будет Свет Истины!<br>
Отец Абсолют или Высший Космический Разум!</p>

            <p class="noind">29.06.2025</p></div><script>
        if (typeof typeContent === 'undefined') {
            var typeContent = 'Poem';
        }

        </script></div></main></div></div></section>
        
        <footer class="blok-footer"><div class="container-fluid"><div class="row"><div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-lg-offset-260 col-md-offset-3 col-sm-offset-4 large-monitor-center"><p class="copyright">Copyright © <a href="mailto:maslovli@yandex.ru">Leonid Maslov</a> 2004-<span id="footerYear">2025</span><br>При копировании материалов с Сайта <a href="https://otkroveniya.com" target="_blank">ссылка на Первоисточник</a> обязательна.</p>
                <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function() { document.getElementById('footerYear').innerHTML = new Date().getFullYear(); });
                </script>
                <div class="blok-metrik"></div></div></div></div></footer></div>

    <div id="api-ext-data" hx-get="/ext/data/2025-06-29" hx-trigger="load[isExtRequestVal], msu-ext-data" hx-headers="js:{ &#x27;msu-PreMonth&#x27;: getPreCldPath(), &#x27;msu-IsCldRequest&#x27;: isCldRequestVal }" hx-ext="json-response" hx-indicator="#spinner" hx-swap="none" hx-push-url="false"></div>
    <div id="dummy" hx-swap="none" hx-push-url="false" class="hidden"></div>

    

    <script>
        window.onerror = function(message, url, line, col, error) {
            alert(message+"\n В "+line+":"+col+" на "+url);
        };
    </script>

    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"></script><script type="text/javascript" src="/conf_otk.js"></script><script type="text/javascript" src="/_content/MSU.View.Otk/js/shared.js"></script>
    <script type="text/javascript" src="/_content/MSU.View.Otk/js/calendar.js"></script>
    <script type="text/javascript" src="/_content/MSU.View.Otk/js/app.js"></script>

    <script>
        var siteID = 'OTK';
    </script></body></html>