/*.cld-main {
}*/
    .cld-main a {
        font-weight: bold;
        text-decoration: none;
    }
.cld-datetime {
    position: relative;
    /*width: 66%;*/
    min-width: 100px;
    max-width: 300px;
    margin: 4px 0px 8px 0px; /*DT*/
    overflow: hidden;
}
  .cld-datetime .today{
    position: relative;
    float: left;
    width: calc(100% - 60px); /*DT*/
    margin: auto;
    text-align: center;
    font-weight: bold; /*DT*/
    /*font-size: 15px;*//*DT*/
  }
.cld-nav {
    position: relative;
    width: 20px;
    height: 20px;
    /*margin-top: -5px;*/ /*DT*/
    /*font-size: 23px;*/ /*DT*/
}
  .cld-nav:hover{
    cursor: pointer;
  }
  .cld-nav:hover svg{
      fill: #666;
  }
.cld-rwd {
    float: left;
    margin-left: 10px; /*DT*/
}
.cld-fwd {
    float: right;
    text-align: right; /*DT*/
    margin-right: 10px; /*DT*/
}
    .cld-nav svg:hover{

    }
.cld-labels, .cld-days {
    padding-left: 0;
    /*margin: 8px 0; DT*/
}
  .cld-label, .cld-day{
    display: inline-block;
    width: 14.28%;
    text-align: center;
  }
  /*.cld-day.today .cld-number{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #666;
    color: #fff;
  }*/
  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    opacity: 0.33;
  }
    .cld-number{
      position: relative;
      margin: 0px; /*DT*/
      padding: 0px; /*5px 5px 0px 5px; /*DT*/
    }
      .cld-title{
        position: absolute;
        z-index: 5;
        display: none;
        top: 30px;
        left: 0;
        padding: 5px 10px;
        background: #fff;
        white-space: nowrap;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
      }
      .cld-number:hover .cld-title{
        display: block;
      }
      .cld-title::before{
        content: '';
        position: absolute;
        top: -7.5px; left: 7.5px;
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;

        border-bottom: 7.5px solid #ccc;
      }



.cld-number.eventday {
    display: inline-block;
    height: 20px;
    width: 30px;
    /*border-radius: 50px;
    background: #69c;*/
    /*border: 1px solid #fff;*/
    color: #e8e8e8; /*DT*/
    font-weight: bold; /*DT*/
}
    .cld-number.eventday:hover {
        /*cursor: pointer;
        background: #eee;*/
        color: #9CF; /*DT*/
    }
      /*.today .cld-number.eventday:hover{
        background: #888;
      }*/

/*DT*/
.cld-main ul {
    padding-left: 0 !important;
}
.cld-main ul li {
    margin: 0;
    height: 22px;
}
.cld-number {
    padding: 2px 0 0 0;
    vertical-align: sub;
}
.cld-number.poemOutDict {
    border: 1px solid #fff;
    color: #ddd;
}
    .cld-number.poemOutDict:hover {
        cursor: pointer;
    }

.cld-number.poem {
    color: #ddd;
    border: none;
}
    .cld-number.poem:hover {
        cursor: pointer;
    }
