/*Стили для всего сайта*/

@font-face {
	font-family: MyriadProCondensed;
	src: local("Myriad Pro Condensed"), /* чтобы сработало надо в Windows установить MyriadPro-Cond.ttf */
	local("MyriadPro-Cond"), /* чтобы сработало надо в Windows установить MyriadPro-Cond.ttf */
	/* если данный стиль загружается из CDN, то и шрифты оттуда же */
	url('../../../_content/MSU.View.Otk/fonts/MyriadPro-Cond.woff2') format('woff2'), /* Супер новые браузеры */
	url('../../../_content/MSU.View.Otk/fonts/MyriadPro-Cond.woff') format('woff'), /* Новые браузеры */
	url('../../../_content/MSU.View.Otk/fonts/MyriadPro-Cond.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../../_content/MSU.View.Otk/fonts/MyriadPro-Cond.otf') format('opentype'), /**/
	url('../../../_content/MSU.View.Otk/fonts/MyriadPro-Cond.eot'), /* IE9 Compat Modes */
	url('../../../_content/MSU.View.Otk/fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../../_content/MSU.View.Otk/fonts/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg'); /* Legacy iOS */
}

body {
	min-height: 100%;
	background: #fff;
	color: #000; /*цвет текста на странице печати*/
	font-family: 'MyriadProCondensed', sans-serif;
	font-weight: 400;
	font-size: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Content */
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.left-print {
	margin-left: 59pt; /* пустое поле слева */
	padding-left: 25pt; /*было 15pt*/
	padding-bottom: 24pt;
}
/*прерывистая граница слева + внутренние отступы до текста*/
.points-left{
	border-left: 1px dashed #666;
}
/*Подпись под Посланием со ссылкой и "Подготовлено к печати"*/
.print2 {
	font:8pt/9pt Arial,sans-serif; 
	color:#aaa; 
	text-align:center;
}

/* H1 - H6 Шрифты */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'MyriadProCondensed', sans-serif;
}
/*Заголовок Послания при печати*/
h1{
	font-weight: 700 !important;
	font-size: 22px !important;
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	text-align: center;
	border-bottom: 4px double #000000!important;
	width: 100%;
	line-height: 1.7;
}
H2 {
	padding:2pt 0 1pt 5pt;
	font-size: 20px !important;	
	font-weight:400; 
	margin:20pt 0 8pt 0; 
	border-left:1px solid #333333; 
	border-bottom:1px solid #333;
}
H3 {
	font-weight:400; 
	margin:15pt 0 5pt 0;
}
H4 {
	font-weight:400; 
	line-height:0.9; 
	margin:0 0 6pt 0; 
	text-align:center;
}
a {
	color:#000; /*переопределяем цвет ссылки*/
	text-decoration:underline;
}
a:hover, a:focus{
	color:#000; /*переопределяем цвет ссылки*/
}
P {
	line-height:1.0; 
	text-indent:16pt; 
	text-align:justify; 
	margin:0 0 4pt 0;
}
P B {
	font-weight:600;
}
P.c0 {text-indent:0; text-align:justify; margin:0 0 4pt 0; font-size: 20px!important;}
P.c2 {margin:0 0 0 28pt;}
P.c3 {margin:0 0 6pt 28pt;}
P.c4 {margin:0 0 0 34pt;}
P.c5 {margin:0 0 6pt 34pt;}
P.c6 {margin:6pt 0 0 0; text-indent:0;}
P.noind {text-indent:0; text-align:left;}
P.nomrg {margin:0;}
P.cont {margin:0 0 2pt 0;}
P.stars {
	text-align:center; 
	text-indent:0; 
	margin:10pt 0 4pt 0;
}

DIV.cont {
	padding:2pt 0 0 6.5pt; 
	font-size: 20px; 
	line-height:1.0;
}

DIV.title {width:100%; padding:0 0 2px 0; border-bottom:1px solid #111; margin:10pt 0;}
DIV.cont DIV {width:420px; margin:3px 4px 2px -6px; padding:1px 4px 3px 4px; border:1px solid #000; background-color:#f0f0f0;}

SMALL {font-family:MyriadProCondensed,Arial,Helvetica,sans-serif; font-size:85%; line-height:0.8; color:#666;}

UL,OL {margin:0 0 2pt -12pt;}
UL LI,OL LI {font-family:MyriadProCondensed,Arial,Helvetica,sans-serif; font-size:20px; line-height:1.0; color:#333; line-height:0.9; margin:0;}
BLOCKQUOTE {margin:6px 0; padding:3pt 21pt; border:1px dashed #bbb;}
CAPTION {font-family:MyriadProCondensed,Arial,Helvetica,sans-serif; font-size:20px; color:#333; padding:4pt 0; text-align:center;}
TD {vertical-align:top;}
TABLE.dict,TABLE.tolk,TABLE.ext,TABLE.ext TABLE {width:100%;}
TABLE.dict TD {font-family:MyriadProCondensed,Arial,Helvetica,sans-serif; font-size:20px; line-height:1.0; color:#111;}
TABLE.dict TH {width:2pt; font-family:MyriadProCondensed,Arial,Helvetica,sans-serif; font-size:20px; line-height:1.0; font-weight:400; color:#111;}
TABLE.revel {width:90%;}
TABLE.revel TD {padding:1pt 3pt; font-family:MyriadProCondensed,Arial,Helvetica,sans-serif; font-size:20px; line-height:1.0; color:#111;}
TABLE.tolk TD {padding:1pt 0 1pt 7pt; font-family:MyriadProCondensed,Arial,Helvetica,sans-serif; font-size:115%; line-height:1.0; color:#111;}
TABLE.int TR {background-color:#f0f0f0;}
TABLE.int TH {width:230px; padding:3px 4px 4px 4px;  line-height:0.9; font-weight:400; color:#111111; text-align:left;}
TABLE.int TD {padding:3px 4px 4px 4px; vertical-align:middle; font-family:MyriadProCondensed,Arial,Helvetica,sans-serif; font-size:120%; line-height:0.9; color:#333333;}
TD.c0 {background-color:#bbb;}
TD.c1 {width:7px; background-color:#bbb;}
TD.c2 {width:100%; height:8px; background-color:#ddd;}
DIV.hr {width:100%; height:1px; margin:7pt 0 12pt 0; border-top:1px dashed #111;}


DIV.cont2 {padding:2pt 0 8pt 6.5pt; font-family:MyriadProCondensed,Arial,Helvetica,sans-serif; font-size:20px; line-height:1.0; color:#111;}
SPAN.c2,SPAN.c3,SPAN.c4,SPAN.c5 {text-indent:0; font-style:italic; color:#333;}
SPAN.c1 {font-style:italic; color:#333;}
DIV.years {width:100%; margin:15pt 0 0 0; padding:12pt 0 0 0; line-height:1.0; color:#111; text-align:center; border-top:1px solid #000000;}
DIV.years A {font-weight:600;}
DIV A.download {font:13pt/14pt MyriadProCondensed,Arial,Helvetica,sans-serif; line-height:0.9; color:#000;}
DIV A.download:link,DIV A.download:visited {text-decoration:none;}
DIV A.download:hover,DIV A.download:active {text-decoration:underline;}

/* Текст Катрена */
P.poem {
    margin: 12pt 0;
    text-indent: 0;
}

/*Дата Послания*/
.date{
	margin-right: 5pt;
}

.color-white {
	color: #000000;
}




#text {
	padding: 0 15pt 24pt 15pt;
	border-left: 1px dashed #666;
}

#addr {
	width: 500px;
	white-space: nowrap;
	border: 1px solid #111;
	margin: 5pt 0 6pt 0;
	padding: 6pt 10pt 3pt 10pt;
}

	#addr P {
		text-align: center;
		text-indent: 0;
		color: #000;
	}

#spoiler {
	text-align: right;
	padding: 1pt 2pt 0 0;
}

#download {
	width: 20%;
	text-align: center;
}

#hear {
	width: 50%;
	text-align: right;
}

/* нумерация четверостиший */
.poem::before {
	content: attr(aria-label);
	position: absolute;
	left: 8px;
	opacity: 0.3;
}